/*===================================
=            $Содержание            =
===================================*/
/**
*
* Содержание
* Общие стили
* Header
* Footer
* Промо-блок
* Популярное
* Сервисы
* О компании
**/


// font-family: 'Cuprum', sans-serif;
// font-family: 'PT Sans', sans-serif;

 @font-face {
  font-family: 'symbols-technomart';
  src: url('../fonts/symbols-technomart.eot?22619757');
  src: url('../fonts/symbols-technomart.eot?22619757#iefix') format('embedded-opentype'),
       url('../fonts/symbols-technomart.woff?22619757') format('woff'),
       url('../fonts/symbols-technomart.ttf?22619757') format('truetype'),
       url('../fonts/symbols-technomart.svg?22619757#symbols-technomart') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "symbols-technomart";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
}
 
.icon-left:before { content: '\3c'; } /* '&lt;' */
.icon-right:before { content: '\3e'; } /* '&gt;' */
.icon-basket:before { content: '\62'; } /* 'b' */
.icon-facebook:before { content: '\66'; } /* 'f' */
.icon-twitter:before { content: '\74'; } /* 't' */
.icon-vk:before { content: '\76'; } /* 'v' */
.icon-up:before { content: '\2c4'; } /* '˄' */
.icon-down:before { content: '\2c5'; } /* '˅' */
.icon-left-big:before { content: '\2190'; } /* '←' */
.icon-right-big:before { content: '\2192'; } /* '→' */
.icon-login:before { content: '\2386'; } /* '⎆' */
.icon-logout:before { content: '\241b'; } /* '␛' */
.icon-up-dir:before { content: '\25b2'; } /* '▲' */
.icon-down-dir:before { content: '\25bc'; } /* '▼' */
.icon-circle:before { content: '\25cb'; } /* '○' */
.icon-circle-dot:before { content: '\25cf'; } /* '●' */
.icon-star:before { content: '\2605'; } /* '★' */
.icon-check-off:before { content: '\2610'; } /* '☐' */
.icon-check-on:before { content: '\2611'; } /* '☑' */
.icon-youtube:before { content: '\f39e'; } /* '' */
.icon-home:before { content: '🏠'; } /* '\1f3e0' */
.icon-user:before { content: '👨'; } /* '\1f468' */
.icon-phone:before { content: '📞'; } /* '\1f4de' */
.icon-instagramm:before { content: '📷'; } /* '\1f4f7' */
.icon-search:before { content: '🔍'; } /* '\1f50d' */
.icon-bookmark:before { content: '🔖'; } /* '\1f516' */

body
{
    min-width: 960px;
    margin: 0;
    padding: 0;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 1200px auto;

    font-size: 13px;
    line-height: 24px;
    font-family: "PT Sans", sans-serif;
    color: #000000;
    background: #ffffff;

    // background: url('../technomart-index.jpg') no-repeat center top;
    // background: url('../technomart-catalog.jpg') no-repeat center top;
    // opacity: 0.5;
}


/*====================================
=            $Общие стили            =
====================================*/

.clearfix:after
{
    content: "";
    display: table;
    clear: both;
}

.container
{
    width: 940px;
    margin: 0 auto;
}

.btn
{
    display: inline-block;
    vertical-align: top;
    padding: 12px 33px;
    text-decoration: none;
    font-family: 'Cuprum', sans-serif;
}

.btn-nav
{
    text-transform: uppercase;
    color: white;
    background-color: #ee3643;
    border-radius: 2px;
    width: 187px;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    padding-top: 9px;
    padding-bottom: 5px;
    &:hover {
        background-color: #ca2c37;
    }
    &:active {
        background-color: #ba2732;
    }
}

/*===============================
=            $Header            =
===============================*/

.main-header
{
    padding-bottom: 62px;
    font-family: 'Cuprum', sans-serif;
    background-color: #f1f5f7;
}

.header-top
{
    background-color: #293449;
    margin: 0;
    padding: 0;
}

.header-logo
{
    display: inline-block;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 26px;
    // letter-spacing: 0.7pt;
    background-color: #ee3643;
    color: white;
    padding-top: 10px;
    padding-bottom: 6px;
    padding-left: 55px;
    padding-right: 55px;
    box-shadow: 0 5px 0 0 #b52933;
}


.header-search,
.header-wishlist,
.header-cart,
.header-checkout
{
    display: inline-block;
    vertical-align: top;
    font-size: 17px;
    line-height: 18px;
    padding: 12px 21px;
    text-decoration: none;
    color: #ffffff;
}

.header-search {
    input[type="search"] {
        border: 0;
    }
    input[type="submit"] {
        display: none;
    }
}

.header-checkout {
    background: #63a63e;
    float: right;
}

.header-info {
    margin-top: 45px;
    margin-bottom: 40px;
}

.description-block,
.address-block
{
    float: left;
    width: 270px;
}

.description-block
{
    font-size: 16px;
    line-height: 23px;
    font-style: italic;
    color: #ee3643;
    padding-left: 52px;
    padding-top: 3px;
}

.address-block {
    .phone {
        font-size: 21px;
        color: #e9292a;
        border: 3px solid white;
        padding-top: 7px;
        padding-bottom: 8px;
        padding-left: 40px;
        width: 170px;
        position: relative;

        &:before {
            content: "\1f4de";
            font-family: "symbols-technomart";
            font-style: normal;
            font-weight: normal;
            position: absolute;
            top: 10px;
            left: 10px;
            color: #b7bfc8;
        }
    }
    .address {
        font-size: 16px;
        line-height: 18px;
        color: #32425c;
        padding-top: 7px;
        padding-left: 15px;
    }
}

.user-block
{
    float: right;
}

.btn-login, 
.btn-register {
    color: black;
    font-size: 21px;
    background: white;
    margin-left: 10px;
}

.main-menu
{
    display: block;
    background-color: #32425c;
    box-shadow: 0 3px 0 0 #293449;

    ul
    {
        list-style: none;
        margin: 0;
        padding: 0;
        padding-left: 22px;
        font-size: 0;
    }

    li
    {
        display: inline-block;
        padding: 0;
        margin: 0;
    }

    a
    {
        color: white;
        font-size: 17px;
        line-height: 17px;
        text-decoration: none;
        padding: 20px 30px;
        display: block;

        &:hover {
            background: #293449;
        }
    }
}


/*-----  End of $Header  ------*/




/*===============================
=            $Footer            =
===============================*/

.nav-footer {
    background: #32425c;
    color: white;
    font-size: 18px;
    line-height: 24px;
    font-family: 'Cuprum', sans-serif;
    padding-bottom: 50px;
}

.main-footer {
    background: #293449;
    color: white;
    font-size: 16px;
    line-height: 18px;
    font-family: 'Cuprum', sans-serif;
    padding-top: 38px;
    padding-bottom: 30px;
}

.nav-footer-about {
    float: left;
    width: 250px;
}

.footer-logo
{
    display: inline-block;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 62px;
    // letter-spacing: 0.7pt;
    background-color: #ee3643;
    color: white;
    padding-left: 40px;
    padding-right: 40px;
    box-shadow: 0 5px 0 0 #b52933;
    margin-bottom: 33px;
}

.footer-contacts {
    margin-left: 5px;
}

.nav-footer-menu {
    float: right;
    text-align: right;
    width: 650px;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: 0;
        margin-top: 40px;
    }
    li {
        margin: 0;
        padding: 0;
        font-size: 18px;
        line-height: 18px;
        display: inline-block;
        vertical-align: top;
        padding-left: 55px;
    }
    a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
        &:active {
            text-decoration: none;
        }
    }

    &-general a {
        color: white;
    }
    &-content a {
        color: #ffd180;
    }
}

.footer-copyright,
.footer-social,
.footer-block-link{
    float: left;
}

.footer-copyright {
    width: 320px;
}

.footer-block-link{
    margin-left: 65px;
    a {
        text-decoration: none;
        color: #ffd180;
        &:hover {
            text-decoration: underline;
        }
    }
}


.footer-social {
    float: left;
    text-align: center;
    p {
        margin: 0;
        margin-bottom: 15px;
    }
}


.social-btn {
    margin: 0 2px;
    display: inline-block;
    vertical-align: top;
    width: 43px;
    height: 43px;
    font-size: 18px;
    line-height: 43px;
    text-decoration: none;
    background: #212a3a;
    color: white;
    border-radius: 50%;
    &:hover, 
    &:active {
        background-color: #ee3643;
    }

    &-vk {
        background-position: -322px 12px;
        &:hover {
            background-position: -268px 12px;
        }
    }
    &-fb {
        background-position: -220px 10px;
        &:hover {
            background-position: -177px 10px;
        }
    }
    &-inst {
        background-position: -129px 10px;
        &:hover {
            background-position: -78px 10px;
        }
    }
}


/*-----  End of $Footer  ------*/




/*========================================
=            $Каталог товаров            =
========================================*/


.catalog-items {
    font-size: 0;
}

.catalog-item {
    font-size: 18px;
}

.catalog-items {
    float: right;
    width: 720px;
    margin: 0 auto;
}

.catalog-item {
    position: relative;
    width: 218px;
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 20px;
    border: 1px solid #e5e5e5;
    font-weight: bold;
    line-height: 20px;
    text-align: center;

    &-image {
        width: 218px;
        height: 168px;
        img {
            width: 218px;
            height: 168px;
        }
    }

    .flag {
        position: absolute;
        top: -1px;
        right: -1px;
        width: 60px;
        height: 60px;
        text-indent: -1000px;
        overflow: hidden;
        z-index: 20;
    }
    .flag-new {
        background: url("../img/bg-flag-new.png") no-repeat 0 0;
    }


    &-actions {
        position:absolute;
        top:0;
        left:0;
        width:218px;
        height:88px;
        padding:43px 0;
        background-color:#ffffff;
        z-index:10;

        .btn-buy, 
        .bookmark {
            display:block;
            width:129px;
            margin:0 auto;
            margin-bottom:7px;
            padding:7px 0;
            border:3px solid #63a63e;
            border-bottom-color:#367315; 
            border-radius:3px;
            background-color:#63a63e;
            color:white;
            font-size:14px;
            line-height:18px;
            font-weight:normal;
            font-family:"Cuprum", sans-serif;
            text-decoration:none;
            text-transform:uppercase;
        }

        .bookmark {
            color:#32425c;
            background:white;
            border-bottom-color:#63a63e;
        }
    }

    &-actions {
        display: none;
    }
    &:hover {
        box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
    }
    &:hover &-actions {
        display: block;
    }


    &-title {
        min-height:40px;
        padding:0 25px;
        margin-top:13px;
        margin-bottom:8px;   
    }
    &-discount {
        min-height:20px;
        margin-top:10px;
        margin-bottom:7px;
        color:#999999;
        text-decoration:line-through;
        text-transform: uppercase;
    }

    &-price {
        position:relative;
        width:80px;
        margin:7px auto;
        margin-bottom:20px;
        padding:9px 27px;
        padding-right: 32px;
        margin-left: 44px;
        color:white;
        background:#ee3643;
        border-radius:3px;
        text-transform: uppercase;

        &:after {
            content:"";
            position:absolute;
            top:0;
            right:-19px;
            width:0;
            height:0;
            border:19px solid #ffffff;
            border-left-color:#ee3643;
        }
    }
}

/*-----  End of $Каталог товаров  ------*/



/*=================================
=            $Главная            =
==================================*/
.index-content
{
    padding-top: 60px;
    padding-bottom: 85px;
}

.promo-blocks {
    margin-bottom: 33px;
}

.promo-block
{
    width: 275px;
    height: 98px;
    padding-left: 25px;
    padding-top: 25px;
    margin-bottom: 20px;
    position: relative;
    color: white;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    font-family: 'Cuprum', sans-serif;

    &-materials {
        background: #f6b22d url('../img/icon-materials.png') no-repeat 80% center;
        float: left;
        margin-right: 20px;
    }
    &-instrument {
        background: #4aafde url('../img/icon-instrument.png') no-repeat 80% center;
        float: left;
        margin-right: 20px;
    }
    &-tech {
        background: #cc79d1 url('../img/icon-techno.png') no-repeat 80% center;
        float: right;
    }
    &-sales {
        background: #85d179 url('../img/icon-sales.png') no-repeat 80% center;
        float: right;
    }
    &-delivery {
        background: #f6b22d url('../img/icon-delivery.png') no-repeat 80% center;
        float: right;
    }

    .flag {
        position: absolute;
        top: 0;
        right: 0;
        width: 60px;
        height: 60px;
        text-indent: -1000px;
        overflow: hidden;
        z-index: 20;
    }
    .flag-new {
        background: url("../img/bg-flag-new.png") no-repeat 0 0;
    }

    .promo-block-btn {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: normal;
        line-height: 18px;
        color: white;
        background: rgba(0, 0, 0, 0.1);
        border-radius: 2px;
        &:hover {
            background: rgba(0, 0, 0, 0.3);
        }
        &:active {
            background: rgba(0, 0, 0, 0.2);
        }
    }
}

.promo-slider
{
    float: left;
    position: relative;

    width: 620px;
    height: 265px;

    &-heading
    {
        position: absolute;
        top: 10px;
        left: 10px;
    }
    &-nav,
    &-link {
        display: none;
    }
}

.popular-section {
    &-heading {
        background: #f7f3ec;
        padding: 25px 30px;
        padding-right: 0px;
        margin-bottom: 18px;
        font-size: 0px;
        h2 {
            font-family: 'Cuprum', sans-serif;
            font-size: 30px;
            line-height: 40px;
            text-transform: uppercase;
            font-weight: normal;
            width: 634px;
            display: inline-block;
            margin: 0;
            padding: 0;
        }
    }

    &-box {
        margin-left: -20px;
        font-size: 0;
    }
}

    
.popular-item-manufacturer {
    width: 218px;
    height: 143px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin-left: 20px;
    margin-bottom: 20px;
    border: 1px solid #e5e5e5;

    img {
        display: inline-block;
        vertical-align: middle;
    }
    
    &:after {
        content: "";
        display:inline-block;
        vertical-align:middle;
        height:100%;
        width:0;
    }

    &:hover {
        box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
    }
    &:active {
        box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
    }

}
        
.index-services {
    background: #f2f6f8;
    padding-top: 50px;
    padding-bottom: 35px;
    h2 {
        font-size: 30px;
        font-family: 'Cuprum', sans-serif;
        text-transform: uppercase;
        font-weight: normal;
        margin: 0;
        margin-bottom: 30px;
    }
    &-list {
        float: left;
        width: 150px;
        background: url('../img/bg-services-div.png') no-repeat right center;
        min-height: 300px;
    }
    &-details {
        float: left;
        width: 600px;
    }
}

.service-details {
    &-delivery {
        background: url('../img/img-services-delivery.png') no-repeat right center;
        min-height: 300px;
    }
}


.company-info {
    padding-top: 85px;
    padding-bottom: 85px;

    &-description, 
    &-contacts {
        float: left;
    }
    &-description {
        width: 540px;
    }
    &-contacts {
        margin-left: 100px;
        width: 300px;
    }

    h2 {
        font-size: 30px;
        font-family: 'Cuprum', sans-serif;
        text-transform: uppercase;
        font-weight: normal;
        margin: 0;
        margin-bottom: 28px;
    }
    p {
        margin: 0;
        margin-bottom: 24px;
    }

    .btn-nav {
        padding-left: 17px;
        padding-right: 17px;    
    }
}

.transport-companies {
    font-family: 'Cuprum', sans-serif;
    font-size: 18px;
    line-height: 14px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 39px;
    li {
        padding: 0;
        margin: 0;
        padding-left: 35px;
        margin-bottom: 26px;
        position: relative;
        &:before {
            content:"";
            display: inline-block;
            width: 25px;
            height: 2px;
            background: #fb565a;
            top: 6px;
            left: 0;
            position: absolute;
        }
    }
}

/*================================
=            $Каталог            =
================================*/

.breadcrumbs {
    padding-top: 20px;
    padding-bottom: 15px;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        display: inline;
        padding-right: 35px;
        position: relative;

        &:after {
            content: "\3e";
            position: absolute;
            top: 0px;
            right: 15px;
            font-family: "symbols-technomart";
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 14px;
            color: #c1c6ce;
        }

        &:last-child:after {
            display: none;
        }    
    }

    a,
    span {
        text-decoration: none;
        color: #000000;
        text-transform: uppercase;  
    }
    a:hover {
        text-decoration: underline;
    }
    a:first-child {
        color: #c1c6ce; 
    } 
}

.heading-filter {
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    padding: 19px;
    background: #f7f3ec;
    border: 1px solid #f7f3ec;
    border-radius: 2px;
    margin-bottom: 20px;
    &-sort {
        margin-left: 20px;

        a {
            display: inline-block;
            font-size: 13px;
            line-height: 13px;
            text-decoration: none;
            color: rgba(0, 0, 0, 0.3);
            border-bottom: 1px dotted #ee3643;
            &:hover {
                color: black;
                border-bottom: 1px solid #ee3643;
            }
        }
        span {
            display: inline-block;
            font-size: 13px;
            line-height: 13px;
            text-decoration: none;
            color: #ee3643;
        }
    }
}


.catalog-filter {
    float: left;
    width: 220px;

    input {
        font-family: inherit;
        line-height: inherit;
        text-transform: uppercase;
        font-size: 17px;
        line-height: 18px;
    }

    label {
        font-size: 15px;
        line-height: 20px;
        text-transform: uppercase;
    }

    input[type="checkbox"],
    input[type="radio"] {
        display: none;
    }

    input[type="checkbox"] + label,
    input[type="radio"] + label{
        display: block;
        padding-left: 35px;
        margin-bottom: 23px;
        position: relative;
        line-height: 18px;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            display: inline-block;
            vertical-align: middle;
            font-size: 28px;
            font-family: "symbols-technomart";
            font-style: normal;
            font-weight: normal;
            color: #c1c1c1;
        }
        &:hover:before {
            color: #b5b5b5;
        }
    }   
    input[type="radio"] + label:before {
        content: "\25cb";
    }
    input[type="checkbox"] + label:before {
        content: "\2610";
    }
    input[type="radio"]:checked + label:before {
        content: "\25cf";
    }
    input[type="checkbox"]:checked + label:before {
        content: "\2611";
    }
}

.filter-block {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    padding-top: 25px;
    border: 0;
    border-top: 1px solid #e5e5e5;

    &:first-child {
        border: none;
        padding-top: 0;
    }

    &-heading {
        text-transform: uppercase;
        margin-bottom: 20px;
        font-size: 17px;
        line-height: 17px;
        font-weight: bold;
    }
}

.range-filter {
    width: 220px;
    margin: 0 auto;
}

.range-controls {
    position:relative;
    height:80px;
    margin-bottom:8px;
    padding:0 30px;
    background:#f7f3ec;
    overflow:hidden;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    .scale{
        margin-top:39px;
        height:2px;
        background:#d7dcde;
    }

    .bar {
        background: #00ca74;
        height: 2px;
    }

    .toggle {
        width:4px;
        height:4px;
        border:8px solid white;
        background:#ababab;
        position: absolute;
        top: 30px;
        left: 30px;
        cursor: pointer;
        border-radius: 50%;
        box-shadow:0 2px 0 0 rgba(0,1,1,0.14);
    }
    .max-toggle{
        left:145px;
    }
}

.price-controls {
    text-align: center;
    line-height: 38px;
    input{
        line-height: 18px;
        padding:9px 10px;
        border:none;
        background:#f7f3ec;
        text-align: center;
        width: 75px;
        border-radius: 3px;
    }

    &-min {
        float: left;
    }
    &-max {
        float: right;
    }

}

.catalog-products {
    margin-bottom: 58px;
    h1 {
        background: #f2f6f8;
        color: #32425c;
        font-family: 'Cuprum', sans-serif;
        font-size: 30px;
        font-weight: normal;
        text-transform: uppercase;
        line-height: 30px;
        padding: 30px 30px;
        margin: 0;
        margin-bottom: 20px;
    }
}

.heading-filter {
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    padding: 9px 18px;
    background: #f7f3ec;
    border: 1px solid #f7f3ec;
    border-radius: 1px;
    margin-bottom: 20px;
}

.catalog-pagination {
    list-style: none;
    margin: 0;
    margin-top: 32px;
    margin-left: 20px;
    padding: 0;
    display: block;

    li {
        display: inline-block;
        font-size: 13px;
        margin-right: 11px;
        padding: 0;
    }

    a,
    span {
        display: inline-block;
        vertical-align: top;
        height: 36px;
        line-height: 36px;
        padding: 0 14px;
        border-radius: 2px;
        text-transform: uppercase;
    }

    a {
        background: #ffffff;
        color: #000000;
        text-decoration: none;
        border: 1px solid #e5e5e5;
        &:hover,
        &:active {
            border: 1px solid #ee3643;
        }
    }

    span {
        background: #ee3643;
        color: white;
        border: 1px solid #ee3643;
    }
}

.description-catalog-page {
    background: #f2f6f8;
    padding-top: 45px;
    padding-bottom: 55px;
    h2 {
        font-size: 30px;
        font-family: 'Cuprum', sans-serif;
        text-transform: uppercase;
        font-weight: normal;
        margin-bottom: 30px;
    }
}




