/*===================================
=            $Содержание            =
===================================*/
/**
*
* Содержание
* Общие стили
* Header
* Footer
* Промо-блок
* Популярное
* Сервисы
* О компании
**/
@font-face {
  font-family: "symbols-technomart";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/symbols-technomart.eot?22619757");
  src: url("../fonts/symbols-technomart.eot?22619757#iefix") format("embedded-opentype"), url("../fonts/symbols-technomart.woff?22619757") format("woff"), url("../fonts/symbols-technomart.ttf?22619757") format("truetype"), url("../fonts/symbols-technomart.svg?22619757#symbols-technomart") format("svg");
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "symbols-technomart";
  font-weight: normal;
  font-style: normal;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  text-decoration: inherit;
  text-transform: none;
  speak: none;
}
.icon-left:before {
  content: "\3c";
}
/* '&lt;' */
.icon-right:before {
  content: "\3e";
}
/* '&gt;' */
.icon-basket:before {
  content: "\62";
}
/* 'b' */
.icon-facebook:before {
  content: "\66";
}
/* 'f' */
.icon-twitter:before {
  content: "\74";
}
/* 't' */
.icon-vk:before {
  content: "\76";
}
/* 'v' */
.icon-up:before {
  content: "\2c4";
}
/* '˄' */
.icon-down:before {
  content: "\2c5";
}
/* '˅' */
.icon-left-big:before {
  content: "\2190";
}
/* '←' */
.icon-right-big:before {
  content: "\2192";
}
/* '→' */
.icon-login:before {
  content: "\2386";
}
/* '⎆' */
.icon-logout:before {
  content: "\241b";
}
/* '␛' */
.icon-up-dir:before {
  content: "\25b2";
}
/* '▲' */
.icon-down-dir:before {
  content: "\25bc";
}
/* '▼' */
.icon-circle:before {
  content: "\25cb";
}
/* '○' */
.icon-circle-dot:before {
  content: "\25cf";
}
/* '●' */
.icon-star:before {
  content: "\2605";
}
/* '★' */
.icon-check-off:before {
  content: "\2610";
}
/* '☐' */
.icon-check-on:before {
  content: "\2611";
}
/* '☑' */
.icon-youtube:before {
  content: "\f39e";
}
/* '' */
.icon-home:before {
  content: "🏠";
}
/* '\1f3e0' */
.icon-user:before {
  content: "👨";
}
/* '\1f468' */
.icon-phone:before {
  content: "📞";
}
/* '\1f4de' */
.icon-instagramm:before {
  content: "📷";
}
/* '\1f4f7' */
.icon-search:before {
  content: "🔍";
}
/* '\1f50d' */
.icon-bookmark:before {
  content: "🔖";
}
/* '\1f516' */
body {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 24px;
  min-width: 960px;
  margin: 0;
  padding: 0;
  color: black;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 1200px auto;
}
/*====================================
=            $Общие стили            =
====================================*/
.clearfix:after {
  display: table;
  clear: both;
  content: "";
}
.container {
  width: 940px;
  margin: 0 auto;
}
.btn {
  font-family: "Cuprum", sans-serif;
  display: inline-block;
  padding: 12px 33px;
  text-align: center;
  vertical-align: top;
  text-decoration: none;
}
.btn-nav {
  font-size: 14px;
  line-height: 24px;
  width: 187px;
  padding-top: 9px;
  padding-bottom: 5px;
  text-transform: uppercase;
  color: white;
  border-radius: 2px;
  background-color: #ee3643;
}
.btn-nav:hover {
  background-color: #ca2c37;
}
.btn-nav:active {
  background-color: #ba2732;
}
/*===============================
=            $Header            =
===============================*/
.main-header {
  font-family: "Cuprum", sans-serif;
  padding-bottom: 62px;
  background-color: #f1f5f7;
}
.header-top {
  margin: 0;
  padding: 0;
  background-color: #293449;
}
.header-logo {
  float: left;
}
.header-logo a {
  font-size: 24px;
  line-height: 26px;
  display: inline-block;
  width: 200px;
  padding: 10px;
  padding-bottom: 6px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;
}
.header-wishlist,
.header-cart,
.header-checkout {
  font-size: 17px;
  line-height: 18px;
  display: inline-block;
  float: left;
  width: 130px;
  padding: 12px 10px;
  text-align: center;
  vertical-align: top;
  text-decoration: none;
  color: #ffffff;
}
.header-wishlist,
.header-cart {
  position: relative;
  width: 100px;
  padding-right: 25px;
  padding-left: 25px;
  text-align: right;
}
.header-wishlist-active,
.header-cart-active {
  background: #ee3643;
}
.header-wishlist:before,
.header-cart:before {
  font-family: "symbols-technomart";
  font-weight: normal;
  font-style: normal;
  position: absolute;
  top: 12px;
  left: 17px;
}
.header-wishlist:before {
  content: "\1f516";
}
.header-cart:before {
  content: "\62";
}
.header-search {
  position: relative;
  float: left;
}
.header-search:before {
  font-family: "symbols-technomart";
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  position: absolute;
  top: 10px;
  left: 18px;
  content: "\1f50d";
}
.header-search input[type="search"] {
  font-family: inherit;
  font-size: 17px;
  line-height: 18px;
  width: 270px;
  height: 42px;
  margin: 0;
  padding: 0;
  padding-left: 42px;
  color: white;
  border: 0;
  outline: 0;
  background: #293449;
}
.header-search input[type="search"]:hover {
  background: #212a3a;
}
.header-search input[type="search"]:focus {
  color: black;
  background: white;
}
.header-search input[type="submit"] {
  display: none;
}
.header-checkout {
  background: #63a63e;
}
.header-info {
  margin-top: 47px;
  margin-bottom: 40px;
}
.description-block,
.address-block {
  float: left;
  width: 270px;
}
.description-block {
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  padding-top: 3px;
  padding-left: 52px;
  color: #ee3643;
}
.address-block .phone {
  font-size: 21px;
  position: relative;
  width: 172px;
  padding-top: 7px;
  padding-bottom: 8px;
  padding-left: 38px;
  color: #e9292a;
  border: 3px solid white;
}
.address-block .phone:before {
  font-family: "symbols-technomart";
  font-weight: normal;
  font-style: normal;
  position: absolute;
  top: 8px;
  left: 10px;
  content: "\1f4de";
  color: #b7bfc8;
}
.address-block .address {
  font-size: 16px;
  line-height: 18px;
  padding-top: 7px;
  padding-left: 15px;
  color: #32425c;
}
.user-block {
  float: right;
}
.btn-login,
.btn-register,
.btn-profile {
  font-size: 21px;
  line-height: 25px;
  margin-left: 7px;
  padding: 10px 24px;
  color: black;
  background: white;
}
.btn-login {
  position: relative;
  padding-left: 49px;
}
.btn-login:before {
  font-family: "symbols-technomart";
  position: absolute;
  top: 9px;
  left: 16px;
  content: "\2386";
}
.btn-profile {
  padding-left: 42px;
  padding-bottom: 3px;
  width: 200px;
  padding-right: 58px;
  margin-left: 0;
  position: relative;
}
.btn-profile i {
  line-height: 24px;
}
.link-profile {
  text-decoration: none;
  color: black;
}
.link-profile:before {
  content: "\1f468";
  font-family: "symbols-technomart";
  font-size: 18px;
  position: absolute;
  top: 9px;
  left: 16px;
}
.link-profile:hover:before {
  color: #32425c;
}
.link-profile:active {
  color: #c5c5c5;
}
.link-profile:active:before {
  color: #c5c5c5;
}
.link-logout {
  text-decoration: none;
  font-size: 0;
  color: black;
}
.link-logout:before {
  content: "\241b";
  font-family: "symbols-technomart";
  font-size: 18px;
  position: absolute;
  top: 10px;
  right: 11px;
}
.link-logout:hover:before {
  color: #32425c;
}
.link-logout:active {
  color: #c5c5c5;
}
.link-logout:active:before {
  color: #c5c5c5;
}
.user-links {
  height: 0;
  margin: 0;
  margin-left: 18px;
  padding: 0;
  list-style: none;
}
.user-links li {
  position: relative;
  display: inline-block;
  margin: 0;
  margin-top: 4px;
  padding: 0;
}
.user-links li:after {
  position: absolute;
  top: 9px;
  right: 11px;
  display: block;
  width: 4px;
  height: 4px;
  content: "";
  border-radius: 50%;
  background-color: #32425c;
}
.user-links li:last-child:after {
  display: none;
}
.user-links a {
  font-size: 16px;
  line-height: 18px;
  padding-right: 30px;
  text-decoration: underline;
  color: #32425c;
}
.main-menu {
  display: block;
  background-color: #32425c;
  box-shadow: 0 3px 0 0 #293449;
}
.main-menu ul {
  font-size: 0;
  margin: 0;
  padding: 0;
  padding-left: 22px;
  list-style: none;
}
.main-menu li {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.main-menu a {
  font-size: 17px;
  line-height: 17px;
  display: block;
  padding: 20px 30px;
  text-decoration: none;
  color: white;
}
.main-menu a:hover {
  background: #293449;
}
/*-----  End of $Header  ------*/
/*===============================
=            $Footer            =
===============================*/
.nav-footer {
  font-family: "Cuprum", sans-serif;
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 50px;
  color: white;
  background: #32425c;
}
.nav-footer-about {
  float: left;
  width: 250px;
}
.nav-footer-menu {
  float: right;
  width: 650px;
  text-align: right;
}
.nav-footer-menu ul {
  font-size: 0;
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-footer-menu li {
  font-size: 18px;
  line-height: 18px;
  display: inline-block;
  margin: 0;
  padding: 0;
  padding-left: 60px;
  vertical-align: top;
}
.nav-footer-menu a {
  text-decoration: none;
}
.nav-footer-menu a:hover {
  text-decoration: underline;
}
.nav-footer-menu a:active {
  text-decoration: none;
}
.nav-footer-menu-general {
  margin-top: 42px;
}
.nav-footer-menu-general a {
  color: white;
}
.nav-footer-menu-content {
  margin-top: 33px;
}
.nav-footer-menu-content a {
  color: #ffd180;
}
.footer-logo a {
  font-size: 30px;
  line-height: 30px;
  display: inline-block;
  width: 190px;
  margin-bottom: 34px;
  padding: 15px;
  padding-top: 18px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;
}
.footer-contacts {
  margin-left: 3px;
}
.main-footer {
  font-family: "Cuprum", sans-serif;
  font-size: 16px;
  line-height: 18px;
  padding-top: 36px;
  padding-bottom: 26px;
  color: white;
  background: #293449;
}
.footer-copyright,
.footer-social,
.footer-block-link {
  float: left;
}
.footer-block-link {
  float: right;
  max-width: 130px;
  margin-left: 65px;
}
.footer-block-link a {
  text-decoration: none;
  color: #ffd180;
}
.footer-block-link a:hover {
  text-decoration: underline;
}
.footer-copyright {
  width: 300px;
}
.footer-social {
  font-size: 0;
  float: left;
  width: 223px;
  text-align: right;
}
.social-btn {
  font-size: 18px;
  line-height: 41px;
  display: inline-block;
  width: 41px;
  height: 41px;
  margin: 0 1px;
  text-align: center;
  vertical-align: top;
  text-decoration: none;
  color: white;
  border-radius: 50%;
  background: #212a3a;
}
.social-btn:hover,
.social-btn:active {
  background-color: #ee3643;
}
/*-----  End of $Footer  ------*/
/*========================================
=            $Каталог товаров            =
========================================*/
.catalog-items {
  font-size: 0;
}
.catalog-item {
  font-size: 18px;
}
.catalog-items {
  float: right;
  width: 720px;
  margin: 0 auto;
}
.catalog-item {
  font-weight: bold;
  line-height: 20px;
  position: relative;
  display: inline-block;
  width: 218px;
  margin-bottom: 20px;
  margin-left: 20px;
  text-align: center;
  border: 1px solid #e5e5e5;
}
.catalog-item-image {
  width: 218px;
  height: 168px;
}
.catalog-item-image img {
  width: 218px;
  height: 168px;
}
.catalog-item .flag {
  position: absolute;
  z-index: 20;
  top: -1px;
  right: -1px;
  overflow: hidden;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
}
.catalog-item .flag-new {
  background: url("../img/bg-flag-new.png") no-repeat 0 0;
}
.catalog-item-actions {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 218px;
  height: 88px;
  padding: 43px 0;
  background-color: #ffffff;
}
.catalog-item-actions .btn-buy,
.catalog-item-actions .bookmark {
  font-family: "Cuprum", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius: 3px;
  background-color: #63a63e;
}
.catalog-item-actions .bookmark {
  color: #32425c;
  border-bottom-color: #63a63e;
  background: white;
}
.catalog-item-actions {
  display: none;
}
.catalog-item:hover {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}
.catalog-item:hover .catalog-item-actions {
  display: block;
}
.catalog-item-title {
  min-height: 40px;
  margin-top: 13px;
  margin-bottom: 8px;
  padding: 0 25px;
}
.catalog-item-discount {
  min-height: 20px;
  margin-top: 10px;
  margin-bottom: 7px;
  text-decoration: line-through;
  text-transform: uppercase;
  color: #999999;
}
.catalog-item-price {
  position: relative;
  width: 81px;
  margin: 7px auto;
  margin-bottom: 20px;
  margin-left: 42px;
  padding-top: 11px;
  padding-right: 30px;
  padding-bottom: 7px;
  padding-left: 30px;
  text-transform: uppercase;
  color: white;
  border-radius: 3px;
  background: #ee3643;
}
.catalog-item-price:after {
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  content: "";
  border: 20px solid #ffffff;
  border-left-color: #ee3643;
}
/*-----  End of $Каталог товаров  ------*/
/*=================================
=            $Главная            =
==================================*/
.index-content {
  padding-top: 59px;
  padding-bottom: 85px;
}
.promo-blocks {
  margin-bottom: 33px;
}
.promo-block {
  font-family: "Cuprum", sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  position: relative;
  width: 278px;
  height: 101px;
  margin-bottom: 20px;
  padding-top: 22px;
  padding-left: 22px;
  color: white;
}
.promo-block-heading {
  margin-bottom: 12px;
}
.promo-block-materials {
  float: left;
  margin-right: 20px;
  background: #f6b22d url("../img/icon-materials.png") no-repeat 213px 30px;
}
.promo-block-instrument {
  float: left;
  margin-right: 20px;
  background: #4aafde url("../img/icon-instrument.png") no-repeat 197px 33px;
}
.promo-block-tech {
  float: right;
  background: #cc79d1 url("../img/icon-techno.png") no-repeat 191px 30px;
}
.promo-block-sales {
  float: right;
  background: #85d179 url("../img/icon-sales.png") no-repeat 196px 26px;
}
.promo-block-delivery {
  float: right;
  background: #f6b22d url("../img/icon-delivery.png") no-repeat 190px 33px;
}
.promo-block .flag {
  position: absolute;
  z-index: 20;
  top: 0;
  right: 0;
  overflow: hidden;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
}
.promo-block .flag-new {
  background: url("../img/bg-flag-new.png") no-repeat 0 0;
}
.promo-block .promo-block-btn {
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  width: 105px;
  margin-left: 2px;
  padding: 10px 15px;
  text-transform: uppercase;
  color: white;
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.1);
}
.promo-block .promo-block-btn:hover {
  background: rgba(0, 0, 0, 0.3);
}
.promo-block .promo-block-btn:active {
  background: rgba(0, 0, 0, 0.2);
}
.promo-slider {
  position: relative;
  float: left;
  width: 620px;
  height: 265px;
}
.promo-slider-heading {
  font-family: "Cuprum", sans-serif;
  position: absolute;
  top: 15px;
  left: 20px;
  color: white;
}
.promo-slider-heading .promo-caption {
  font-size: 36px;
  font-weight: bold;
  line-height: 40px;
}
.promo-slider-heading .promo-description {
  font-size: 18px;
  line-height: 24px;
}
.promo-slider-link {
  position: absolute;
  bottom: 15px;
  left: 20px;
}
.promo-slider-nav {
  font-family: "symbols-technomart";
  font-size: 45px;
  position: absolute;
  top: 60px;
  left: 20px;
}
.popular-section-heading {
  font-size: 0;
  margin-bottom: 18px;
  padding: 25px 28px;
  padding-right: 0;
  background: #f7f3ec;
}
.popular-section-heading h2 {
  font-family: "Cuprum", sans-serif;
  font-size: 30px;
  font-weight: normal;
  line-height: 40px;
  display: inline-block;
  width: 634px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
.popular-section-box {
  font-size: 0;
  margin-left: -20px;
}
.popular-item-manufacturer {
  display: inline-block;
  width: 218px;
  height: 143px;
  margin-bottom: 20px;
  margin-left: 20px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #e5e5e5;
}
.popular-item-manufacturer img {
  display: inline-block;
  vertical-align: middle;
}
.popular-item-manufacturer:after {
  display: inline-block;
  width: 0;
  height: 100%;
  content: "";
  vertical-align: middle;
}
.popular-item-manufacturer:hover {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}
.popular-item-manufacturer:active {
  box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
}
.index-services {
  position: relative;
  padding-top: 50px;
  padding-bottom: 60px;
  background: #f2f6f8;
}
.index-services h2,
.index-services h3 {
  font-family: "Cuprum", sans-serif;
  font-size: 28px;
  font-weight: normal;
  margin: 0;
  margin-bottom: 28px;
  text-transform: uppercase;
}
.index-services h3 {
  font-size: 36px;
  margin-bottom: 30px;
  color: #32425c;
}
.index-services-list {
  float: left;
  width: 240px;
  background: url("../img/bg-services-div.png") no-repeat right center;
}
.index-services-list ul {
  margin: 0;
  margin-top: 70px;
  padding: 0;
  list-style: none;
}
.index-services-list li {
  margin: 0;
  padding: 0;
}
.index-services-list li:after {
  display: block;
  height: 2px;
  content: "";
  background: url("../img/bg-services-inner.png") repeat-x;
}
.index-services-list a {
  font-family: "Cuprum", sans-serif;
  font-size: 21px;
  line-height: 30px;
  display: inline-block;
  width: 195px;
  padding: 15px 22px;
  vertical-align: middle;
  text-decoration: none;
  color: white;
  background: #32425c;
}
.index-services-details {
  float: left;
  width: 700px;
}
.service-details {
  display: none;
}
.service-details-active {
  position: relative;
  display: block;
  padding-top: 74px;
  padding-right: 345px;
  padding-bottom: 70px;
  padding-left: 80px;
}
.service-details-active:after {
  position: absolute;
  top: 92px;
  right: 0;
  display: block;
  width: 468px;
  height: 261px;
  content: "";
  background: url("../img/img-services-delivery.png") no-repeat right top;
}
.company-info {
  padding-top: 82px;
  padding-bottom: 85px;
}
.company-info-description,
.company-info-contacts {
  float: left;
}
.company-info-description {
  width: 540px;
}
.company-info-description .btn-nav {
  padding-right: 17px;
  padding-left: 17px;
}
.company-info-contacts {
  width: 300px;
  margin-left: 100px;
}
.company-info-contacts img {
  width: 300px;
  height: 158px;
  margin-top: 7px;
  margin-bottom: 32px;
}
.company-info-contacts .btn-nav {
  width: 234px;
}
.company-info h2 {
  font-family: "Cuprum", sans-serif;
  font-size: 30px;
  font-weight: normal;
  margin: 0;
  margin-bottom: 28px;
  text-transform: uppercase;
}
.company-info p {
  margin: 0;
  margin-bottom: 24px;
}
.transport-companies {
  font-family: "Cuprum", sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 14px;
  margin: 0;
  margin-bottom: 39px;
  padding: 0;
  list-style: none;
}
.transport-companies li {
  position: relative;
  margin: 0;
  margin-bottom: 26px;
  padding: 0;
  padding-left: 35px;
}
.transport-companies li:before {
  position: absolute;
  top: 6px;
  left: 0;
  display: inline-block;
  width: 25px;
  height: 2px;
  content: "";
  background: #fb565a;
}
/*================================
=            $Каталог            =
================================*/
.breadcrumbs {
  padding-top: 19px;
  padding-bottom: 16px;
}
.breadcrumbs a:hover {
  text-decoration: underline;
}
.breadcrumbs a:first-child {
  color: #c1c6ce;
}
.breadcrumbs ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.breadcrumbs li {
  position: relative;
  display: inline;
  padding-right: 36px;
}
.breadcrumbs li:after {
  font-family: "symbols-technomart";
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 14px;
  position: absolute;
  top: 0;
  right: 15px;
  content: "\3e";
  color: #c1c6ce;
}
.breadcrumbs li:last-child:after {
  display: none;
}
.breadcrumbs a,
.breadcrumbs span {
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}
.heading-filter {
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 20px;
  padding: 9px 18px;
  text-align: right;
  text-transform: uppercase;
  border: 1px solid #f7f3ec;
  border-radius: 2px;
  background: #f7f3ec;
}
.heading-filter-title {
  float: left;
}
.heading-filter-sort {
  margin-left: 20px;
  padding-bottom: 5px;
  width: 664px;
}
.heading-filter-sort-link {
  font-size: 13px;
  line-height: 18px;
  display: inline-block;
  margin-right: 25px;
  margin-left: 40px;
  vertical-align: top;
  text-decoration: none;
  color: #c6c2bd;
  border-bottom: 1px dotted #ee3643;
}
.heading-filter-sort-link:hover {
  color: black;
  border-bottom: 1px solid #ee3643;
}
.heading-filter-sort-link.active {
  color: #ee3643;
  border: 0;
  cursor: default;
}
.heading-filter-sort-up,
.heading-filter-sort-down {
  font-size: 0;
  margin-right: 0;
  margin-left: 18px;
  text-decoration: none;
  color: #c6c2bd;
}
.heading-filter-sort-up:before,
.heading-filter-sort-down:before {
  font-family: "symbols-technomart";
  font-size: 23px;
  line-height: 18px;
  display: inline-block;
  vertical-align: top;
}
.heading-filter-sort-up:hover,
.heading-filter-sort-down:hover {
  color: black;
}
.heading-filter-sort-up.active,
.heading-filter-sort-down.active {
  color: #ee3643;
  cursor: default;
}
.heading-filter-sort-up:before {
  content: "\25b2";
}
.heading-filter-sort-down:before {
  content: "\25bc";
}
.catalog-filter {
  float: left;
  width: 220px;
}
.catalog-filter input {
  font-family: inherit;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
}
.catalog-filter label {
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}
.catalog-filter input[type="checkbox"],
.catalog-filter input[type="radio"] {
  display: none;
}
.catalog-filter input[type="checkbox"] + label,
.catalog-filter input[type="radio"] + label {
  line-height: 18px;
  position: relative;
  display: block;
  margin-bottom: 22px;
  padding-left: 34px;
}
.catalog-filter input[type="checkbox"] + label:before,
.catalog-filter input[type="radio"] + label:before {
  font-family: "symbols-technomart";
  font-size: 28px;
  font-weight: normal;
  font-style: normal;
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  content: "";
  vertical-align: middle;
  color: #c1c1c1;
}
.catalog-filter input[type="checkbox"] + label:hover:before,
.catalog-filter input[type="radio"] + label:hover:before {
  color: #b5b5b5;
}
.catalog-filter input[type="radio"] + label:before {
  content: "\25cb";
}
.catalog-filter input[type="checkbox"] + label:before {
  content: "\2610";
}
.catalog-filter input[type="radio"]:checked + label:before {
  content: "\25cf";
}
.catalog-filter input[type="checkbox"]:checked + label:before {
  content: "\2611";
}
.btn-filter {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 36px;
  display: inline-block;
  width: 140px;
  height: 36px;
  margin: 0;
  margin-top: 55px;
  padding: 0 10px;
  text-align: center;
  vertical-align: top;
  text-transform: uppercase;
  color: black;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  background: white;
}
.btn-filter:hover,
.btn-filter:active {
  border: 1px solid #ee3643;
  border-bottom: 2px solid #ee3543;
}
.filter-block {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  padding-top: 25px;
  border: 0;
  border-top: 1px solid #e5e5e5;
}
.filter-block:first-child {
  padding-top: 0;
  border: none;
}
.filter-block-heading {
  font-size: 17px;
  font-weight: bold;
  line-height: 17px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.range-filter {
  width: 220px;
  margin: 0 auto;
}
.range-controls {
  position: relative;
  overflow: hidden;
  height: 80px;
  margin-bottom: 8px;
  padding: 0 20px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background: #f7f3ec;
}
.range-controls .scale {
  height: 2px;
  margin-top: 38px;
  background: #d7dcde;
}
.range-controls .bar {
  height: 2px;
  background: #00ca74;
}
.range-controls .toggle {
  position: absolute;
  top: 29px;
  left: 20px;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid white;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 0 0 rgba(0, 1, 1, 0.14);
}
.range-controls .max-toggle {
  left: 160px;
}
.price-controls {
  line-height: 38px;
  text-align: center;
}
.price-controls input {
  line-height: 17px;
  width: 75px;
  height: 18px;
  padding: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  border: none;
  border-radius: 3px;
  background: #f7f3ec;
}
.price-controls-min {
  float: left;
}
.price-controls-max {
  float: right;
}
.catalog-products {
  margin-bottom: 60px;
}
.catalog-products h1 {
  font-family: "Cuprum", sans-serif;
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
  margin: 0;
  margin-bottom: 20px;
  padding: 28px;
  padding-top: 30px;
  text-transform: uppercase;
  color: #32425c;
  background: #f2f6f8;
}
.catalog-pagination {
  display: block;
  margin: 0;
  margin-top: 32px;
  margin-left: 20px;
  padding: 0;
  list-style: none;
}
.catalog-pagination li {
  font-size: 13px;
  display: inline-block;
  margin-right: 11px;
  padding: 0;
}
.catalog-pagination a,
.catalog-pagination span {
  line-height: 36px;
  display: inline-block;
  height: 36px;
  padding: 0 14px;
  vertical-align: top;
  text-transform: uppercase;
  border-radius: 2px;
}
.catalog-pagination a {
  text-decoration: none;
  color: #000000;
  border: 1px solid #e5e5e5;
  background: #ffffff;
}
.catalog-pagination a:hover,
.catalog-pagination a:active {
  border: 1px solid #ee3643;
  border-bottom: 2px solid #ee3543;
}
.catalog-pagination .active {
  color: white;
  border: 1px solid #ee3643;
  background: #ee3643;
}
.catalog-pagination .next {
  padding-right: 30px;
  padding-left: 30px;
}
.description-catalog-page {
  padding-top: 45px;
  padding-bottom: 55px;
  background: #f2f6f8;
}
.description-catalog-page h2 {
  font-family: "Cuprum", sans-serif;
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 27px;
  text-transform: uppercase;
}
